/* 
templatemo 395 urbanic
*/

/* 
Urbanic Template 
http://www.templatemo.com/preview/templatemo_395_urbanic 
*/

body,
html {
	overflow-x: hidden;
}

body {
	background-color: #ffffff;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 13px;

	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* * {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
} */

.templatemo_clear {
	clear: both;
}

.height30 {
	height: 30px;
}

.templatemo-top-bar {
	min-height: 30px;
	background-color: white;
}

.templatemo-top-menu {
	min-height: auto; /*min-height:110px;*/
	background: rgba(255, 255, 255, 0.6);
	z-index: 5000;
	width: 100%;
}
/*.templatemo-top-menu .black{ background:#000;}*/

.templatemo-top-menu .navbar-toggle {
	margin-top: 20px;
}

.templatemo-top-menu .navbar-brand {
	padding: 0;
	margin: 10px 0 10px 0;
}

.navbar-default .navbar-nav > li > a {
	color: #f5b321;
	font-size: 16px;
	font-weight: 400;
}

/*-- form contacto--*/
.bgmsn {
	background: green;
	color: white;
	font-size: 1.2em;
	padding: 1%;
	text-align: center;
}
.green {
	font-weight: bold;
}
.red {
	color: red;
	font-weight: bold;
}
.bgmsn a {
	background-color: yellow;
	color: green;
	padding: 0.5%;
	text-decoration: none;
}
.bgmsn a:hover {
	background-color: white;
	color: red;
	text-decoration: underline;
}

/* ------ Carousel ----- */
.carousel-control {
	width: 10% !important;
}
#templatemo-carousel {
	background: url('../images/bg3.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
	margin-bottom: 0;
	/* min-height: 550px; */
	height: 550px;
}

#templatemo-carousel .carousel-caption {
	z-index: 10;
}
#templatemo-galeria {
	background: #000 url('../images/bgbn.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
}
#templatemo-carousel .item {
	height: 550px;
}
#templatemo-carousel .carousel-inner > .item > img {
	position: absolute;
	min-width: 100%;
	height: 550px;
	left: 0;
	top: 0;
}
.bg-slide0,
img {
	max-width: 100%; /*background:url('../images/kitob1.png') no-repeat;*/
	/*width:100%;*/
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
}
/*.bg-slide1, img{max-width:100%;background:url('../images/kito electric hoist.png') no-repeat;
}*/
/* .bg-slide3{background:url('../images/sl3.jpg');}
.bg-slide4{background:url('../images/sl4.jpg');}
.bg-slide5{background:url('../images/sl5.jpg');}
.bg-slide6{background:url('../images/sl6.jpg');} */

@media (min-width: 768px) {
	#templatemo-carousel .carousel-caption p {
		margin-bottom: 20px;
		line-height: 1.4;
		font-size: 21px;
	}

	#templatemo-carousel .carousel-caption {
		/*padding-bottom: 140px;*/
		top: 1%;
		/*right: 0%;20%*/
		/*left: 9%;20%*/
	}
}

@media (max-width: 768px) {
	#templatemo-carousel .carousel-caption {
		top: 0;
	}
}

@media (max-width: 1024px) {
	#templatemo-carousel {
		background: url('../images/bg3.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		overflow-x: hidden;
		margin-bottom: 0;
		/*height: 500px;*/
	}
}

/* ------ End of Carousel ----- */

/* ------ Welcome & Slogna ------ */
.templatemo-welcome {
	border-bottom: 1px solid #cccccc;
	min-height: 30px;
}

.templatemo-slogan {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 42px;
	margin: 20px 0;
	color: #333333;
}

.templatemo-service {
	background-color: #333;
	margin-bottom: 10px;
	margin-top: 10px;
}

.templatemo-service-item {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
	/*font-size: 20px;*/
}
/*.templatemo-service-item  ul, li{
   color:#fff;   
}*/

.templatemo-service-item p {
	font-weight: lighter;
	text-align: justify;
	margin-top: 25px;
	font-size: 14px;
	color: #333;
}
.fnt-color {
	color: #ccc;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin-bottom: 3%;
}
.fnt-color ul,
li {
	margin: 0;
	padding: 0;
}
/*.templatemo-service-item  ul,li {
    font-weight: lighter; 
    text-align: justify;     
    font-size: 14px;
    color: #ccc;
}*/
.blog_text a {
	background: #f5b321;
	color: #000;
	font-weight: bold;
	padding: 1%;
}
.blog_text a:hover {
	background: #000;
	color: #f5b321;
	padding: 1%;
}
/*mis modificaciones*/

.container-numeros {
	/* width: 100%; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0 5px 0;
	border-bottom: 1px solid #888;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.container-number-header {
	width: 100%;
	display: flex;
	margin: 0;
	padding-left: 0;
}
.container-number-header > li {
	list-style: none;
	margin-right: 10px;
	display: flex;
	align-items: center;
}
.container-number-header > li > a {
	font-weight: 400;
	color: #888;
}
.container-number-header > li > span {
	margin-right: 5px;
	color: #f5b321;
	font-size: 20px;
}
.container-email-header {
	/* width: 100%; */
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}
.container-email-header > li {
	list-style: none;
	margin-right: 10px;
	display: flex;
	align-items: center;
}
.container-email-header > li > a {
	color: #888;
	font-weight: 400;
}
.container-email-header > li > span {
	margin-right: 5px;
	color: #f5b321;
	font-size: 20px;
}

.container-nav {
	padding-bottom: 20px;
}
.container-nav .logo {
	width: 70%;
	padding-top: 10px;
}

/*------------------*/
.subheader {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin-top: 10px;
	/*font-size: 12px;*/
	color: #fff;
}

.btn-orange {
	background-color: #ff7600;
	border-bottom: 2px solid #d35400;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #ffffff;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
	background-color: #d35400;
	color: #ffffff;
}

.btn-green {
	background-color: #2ecc71;
	border-bottom: 2px solid #27ae60;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #ffffff;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
	background-color: #27ae60;
	color: #ffffff;
}

.nav > li > a {
	padding: 10px 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: #805b24;
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #f5b321;
	color: #fff;
}

.nav > li > a {
	color: #929292;
}
.navbar-default {
	background: rgba(255, 255, 255, 0);
	border: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #f5b321;
	color: #fff;
}

.navbar {
	margin-bottom: 0px;
}

.templatemo-service-item-header {
	color: #fff;
	margin-left: -10px;
	padding: 16px 0 5px;
	font-weight: bold;
	display: inline-block;
}

.templatemo-header-orange {
	background-color: #a5752e;
	min-width: 298px;
	height: 67px;
	color: #fff;
}

.team_hr {
	border: 1px solid #fff;
	width: 37.5%;
	float: left;
}

.team_hr_left {
	margin-right: 30px;
	margin-left: 15px;
}

.team_hr_right {
	margin-left: 30px;
}

.hr_gray {
	border: 1px solid #cccccc;
}

.templatemo-team {
	background-color: #f5b321; /* url('../images/background.png') ; */
	font-family: 'Open Sans', sans-serif;
	min-height: 590px;
	color: #ffffff;
}
.templatemo-line-header {
	margin-top: 40px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

.member-thumb:hover .thumb-overlay {
	transition: all 0.3s ease-in-out 0s;
	visibility: visible;
	opacity: 1;
}

.member-thumb {
	position: relative;
	overflow: hidden;
}

.member-thumb .thumb-overlay {
	background-color: rgba(220, 157, 102, 0.8);
	position: absolute;
	visibility: hidden;
	padding-top: 35%;
	padding-left: 25%;
	height: 100%;
	width: 100%;
	opacity: 0;
	right: 0;
	top: 0;
}

.thumb-overlay a {
	float: left;
	margin-right: 5px;
}

.team-inner {
	margin-top: 10px;
}

.team-inner-header {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.team-inner-subtext {
	font-weight: normal;
	font-size: 12px;
}

.row_team {
	margin-left: -50px;
	margin-top: 50px;
}

.row_team li {
	list-style: none;
}

.templatemo-project-box {
	background-size: cover;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	height: 150px;
	width: 200px;
}

.templatemo-project-box:hover .project-overlay {
	transition: all 0.3s ease-in-out 0s;
	visibility: visible;
	opacity: 1;
}

.project-overlay {
	background: rgba(0, 0, 0, 0.75);
	border: 2px solid #ff7600;
	visibility: hidden;
	position: absolute;
	text-align: center;
	padding-top: 40px;
	color: #ffffff;
	height: 100%;
	width: 100%;
	opacity: 0;
	right: 0;
	top: 0;
}

.project-overlay hr {
	width: 70%;
}

.templatemo-project-gallery li {
	margin: 15px;
}

.txt_darkgrey {
	color: #fff;
	font-size: 25px;
	font-weight: 700;
}
.txt_black a {
	color: #000;
	text-decoration: none;
}

.txt_orange {
	color: #f5b321;
	font-size: 16px;
	font-weight: 400;
}
.txt_black2 {
	color: black;
	font-weight: bold;
}

.txt_slogan {
	font-size: 14px;
	color: #929292;
}

.templatemo-line-header span {
	font-size: 18px;
	float: left;
	margin-top: 10px;
}

.team_box div {
	text-align: center;
	padding-top: 100px;
}

.span_blog {
	margin-bottom: 20px;
}

.blog_post {
	color: #333333;
	padding: 10px;
}

.blog_header {
	font-weight: bold;
	font-size: 16px;
}

.blog_text {
	text-align: justify;
	font-size: 14px;
	margin-top: 20px;
}
#templatemo-portfolio {
	background: #8996a0;
}
#templatemo-contact {
	/* margin-top: 100px; */
	border-top: 1px solid #cccccc;
	font-size: 14px;
}
.templatemo-contact-map {
	margin-bottom: 15px;
	height: 378px;
}

.head_contact {
	padding-bottom: 20px;
	margin-bottom: 0;
}

.contact_right img {
	margin-right: 5px;
}

.contact_right form {
	padding-left: 15px;
	padding-right: 15px;
}

.tweet_txt {
	border-left: 2px solid #ffffff;
	min-height: 160px;
}

.twitter_user {
	color: #ffff33;
	font-size: 14px;
	float: right;
}

.templatemo-partners {
	border-top: 2px solid #cccccc;
}

.templatemo-partners .templatemo-partner-item {
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 5px;
}

.templatemo-footer {
	border-top: 1px solid #cccccc;
	margin-top: 20px;
	padding: 20px 0 20px 0;
}

.footer_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
}
.footer_container > img {
	width: 20%;
}

.footer_bottom_content {
	margin-right: 45px;
	font-size: 14px;
	color: #f5b321;
	font-weight: 400;
}
.footer_bottom_content > a,
a:hover {
	color: #f5b321;
	text-decoration: none;
	font-weight: 400;
	/* font-size: 15px; */
}

.social-icon-fb {
	background: url('../images/social-icon-fb.png') no-repeat;
	width: 42px;
	height: 42px;
	display: block;
}

a:hover .social-icon-fb {
	background: url('../images/social-icon-fb-over.png') no-repeat;
}

.social-icon-rss {
	background: url('../images/social-icon-rss.png') no-repeat;
	width: 42px;
	height: 42px;
	display: block;
}

a:hover .social-icon-rss {
	background: url('../images/social-icon-rss-over.png') no-repeat;
}

.social-icon-twitter {
	background: url('../images/social-icon-twitter.png') no-repeat;
	width: 42px;
	height: 42px;
	display: block;
}

a:hover .social-icon-twitter {
	background: url('../images/social-icon-twitter-over.png') no-repeat;
}

.social-icon-linkedin {
	background: url('../images/social-icon-linkedin.png') no-repeat;
	width: 42px;
	height: 42px;
	display: block;
}

a:hover .social-icon-linkedin {
	background: url('../images/social-icon-linkedin-over.png') no-repeat;
}

.social-icon-dribbble {
	background: url('../images/social-icon-dribbble.png') no-repeat;
	width: 42px;
	height: 42px;
	display: block;
}

a:hover .social-icon-dribbble {
	background: url('../images/social-icon-dribbble-over.png') no-repeat;
}

ul.templatemo-project-gallery li a img:hover {
	border: 3px solid #ff7600;
}

.templatemo-gallery-category a {
	color: #000;
}

.templatemo-gallery-category a.active {
	color: #f5b321;
	text-decoration: none;
}

.templatemo-gallery-category a:focus {
	color: #f5b321;
	text-decoration: none;
}

.templatemo-gallery-category a:hover {
	color: #000;
	text-decoration: none;
}

.link_white:hover {
	text-decoration: none;
}
.link_orange:hover {
	text-decoration: none;
}
.templatemo-project-gallery {
	margin: 0 0 0 0;
	margin-top: 30px;
	margin-left: -40px;
}
.templatemo-project-gallery li {
	list-style: none;
	margin-bottom: 25px;
}
.templatemo-project-gallery li img {
	cursor: pointer;
}

.templatemo-tweets {
	background-color: #8996a0;
	min-height: 200px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #ffffff;
	margin-top: 100px;
}

.form-control {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-style: italic;
}

.btn_loadmore {
	margin-top: 30px;
	margin-bottom: 80px;
}

.blog_box {
	margin-left: -12px;
}

/*clave del exito container*/
.container-exito {
	background-image: url('../images/bgbn.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding: 40px 0 80px 0;
}

.container-exito__title {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 40px;
}

.container-exito__text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
	width: 90%;
	margin: 0 auto;
}
.container-exito__text-h3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 8%;
}
.container-exito__text-h3 h3 {
	color: #f5b321;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	height: 73px;
}
.container-exito__text span {
	font-size: 45px;
	color: #f5b321;
	font-weight: 700;
	padding-left: 12px;
	text-transform: uppercase;
}
.container-exito__text p {
	font-size: 18px;
	width: 50%;
	font-weight: 400;
	line-height: 1.3;
	text-align: justify;
}

.container-exito__descripcion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	margin-top: 120px;
}
.container-exito__descripcion-contant {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	width: 23%;
	font-weight: 400;
}
.container-exito__descripcion-contant > span {
	font-size: 80px;
	color: #f5b321;
	margin: 0 auto;
	margin-bottom: 20px;
}

.container-exito__descripcion-contant > p {
	font-size: 15px;
	margin: 0;
	position: relative;
	text-align: justify;
}
.container-exito__descripcion-contant > p::before {
	content: '';
	position: absolute;
	top: 8px;
	left: -20px;
	width: 15px;
	height: 5px;
	color: #f5b321;
	background-color: #f5b321;
	margin-right: 2px;
}

@media (max-width: 768px) {
	.container-exito__text {
		width: 100%;
		flex-direction: column-reverse;
	}
	.container-exito__text-h3 {
		margin-top: 40px;
		margin-left: 0;
	}
	.container-exito__text p {
		font-size: 15px;
		width: 90%;
	}
	.container-exito__descripcion {
		flex-direction: column;
		width: 100%;
		margin-top: 80px;
	}
	.container-exito__descripcion-contant {
		width: 50%;
		margin-bottom: 40px;
	}
	.navbar-header {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
}
@media (max-width: 650px) {
	.container-numeros {
		flex-direction: column;
		padding-left: 20px;
	}
	.container-number-header {
		/* flex-direction: column; */
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.container-email-header {
		justify-content: flex-start;
		width: 100%;
	}
}
@media (max-width: 520px) {
	.container-exito__descripcion-contant {
		width: 90%;
		margin-bottom: 40px;
	}
}

.img-galary {
	width: 84px;
	height: 48px;
	object-fit: cover;
	border: 2px solid #fff;
	background: #888;
}
.img-galary:hover {
	cursor: pointer;
}

/*products*/

#templatemo-productos {
	padding: 20px 0 120px;
}

.container-cards-products {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 15px;
}

@media (max-width: 1199px) {
	.container-cards-products {
		justify-content: flex-start;
		margin-left: calc(20vw - 20px);
	}
}
@media (max-width: 676px) {
	.container-cards-products {
		margin: 0;
		justify-content: center;
	}
}

.text-product-main {
	text-transform: uppercase;
	color: #000;
	text-align: center;
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 40px;
	position: relative;
}

.card-product {
	width: 200px;
	min-height: 205px;
	position: relative;
	background-color: #f5b321;
	box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.29);
	-webkit-box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.29);
}

.card-select {
	cursor: pointer;
}

.card-product img {
	width: 100%;
	height: 130px;
	object-fit: cover;
}
.card-product > .card-product-text {
	background: #f5b321;
	padding: 10px 5px 5px 25px;
	min-height: 80px;
	max-height: 100px;
}
.card-product > .card-product-text h3::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 2px;
	left: -15px;
	border-left: 8px solid #000;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.card-product > .card-product-text h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 900;
	position: relative;
	color: #000;
}

.card-product > .card-product-text p {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	/* margin-top: 5px; */
}

.card-product:hover .card-product__options {
	display: flex;
}

/*card options*/
.card-product__options {
	background-color: #000;
	position: absolute;
	display: none;
	flex-direction: column;
	width: 100%;
	z-index: 10;
	/* margin-top: 10px; */
}
.card-product-fake {
	height: 10px;
	width: 100%;
	background-color: #fff;
}
.card-product__options::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 0px;
	left: 88%;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
}
.card-product__options a {
	padding: 10px 0 10px 30px;
	color: #fff;
	position: relative;
	font-size: 12px;
	font-weight: bold;
}
.card-product__options a:hover {
	color: #f5b321;
}
.card-product__options a::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 12px;
	left: 20px;
	border-left: 6px solid #fff;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
}
.card-product__options a::before {
	color: #f5b321;
}
.card-product__options a:first-child {
	border-bottom: 1px solid #fff;
}

/*----------------------------------------------------*/

/*perfil page*/
.container-perfil-main {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 120px;
	font-size: 16px;
	color: #000;
	font-weight: 700;
}

.container-perfil__text {
	width: 60%;
}
.container-perfil__text > h1 {
	color: #f5b321;
}
.container-perfil__text > p {
	text-align: justify;
	padding: 0 20px 0 0;
	width: 90%;
	font-size: 20px;
	line-height: 1.2;
	margin-top: 20px;
}

.container-img {
	width: 40%;
}
.container-btn-perfil {
	display: flex;
	justify-content: space-between;
	width: 85%;
	align-items: center;
	margin-top: 40px;
}
.container-btn-perfil > button {
	background-color: #f5b321;
	color: #000;
	font-weight: 900;
	text-transform: uppercase;
	padding: 15px 20px;
	outline: none;
	border: none;
	box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.29);
	-webkit-box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.29);
}
.container-btn-perfil > a {
	font-size: 20px;
	color: #f5b321;
}

/*----------------*/
@media (min-width: 991px) and (max-width: 1200px) {
	.templatemo-project-box,
	.project-overlay {
		height: 170px;
		width: 170px;
	}

	.templatemo-project-gallery {
		margin-left: -70px;
	}

	.templatemo-service-item-header {
		padding: 16px 10px 20px;
	}

	.templatemo-header-orange {
		min-width: 230px;
	}

	.team_box,
	.team_box_over {
		height: 220px;
		width: 220px;
	}
}

@media (max-width: 991px) {
	.team-inner {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.templatemo-btn-read-more {
		float: right;
		margin-bottom: 40px;
	}
}

@media (min-width: 768px) and (max-width: 990px) {
	.member-thumb .thumb-overlay {
		padding-left: 30%;
	}
	.templatemo-project-box,
	.project-overlay {
		height: 130px;
		width: 130px;
		padding-top: 0px;
	}

	.templatemo-project-gallery {
		margin-left: 10px;
	}

	.blog_box {
		margin-right: -140px;
	}
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 9px;
		padding-bottom: 9px;
	}
}

@media (max-width: 768px) {
	.member-thumb .thumb-overlay {
		padding-left: 40%;
	}
	.templatemo-btn-read-more {
		float: right;
		margin-bottom: 40px;
	}
	.templatemo-project-box {
		width: 70%;
		margin: 0 auto;
		object-fit: cover;
	}
}

@media (max-width: 380px) {
	.member-thumb .thumb-overlay {
		padding-left: 30%;
	}
	.templatemo-service-item-header {
		font-size: 16px;

		padding: 23px 10px 22px;
	}
	.templatemo-header-orange {
		min-width: 0px;
	}
}

@media (min-width: 991px) and (max-width: 1200px) {
	.team_hr {
		width: 37%;
	}
}

@media (min-width: 683px) and (max-width: 991px) {
	.team_hr {
		width: 33%;
	}
}

@media (min-width: 585px) and (max-width: 683px) {
	.member-thumb .thumb-overlay {
		padding-left: 25%;
	}
	.team_hr {
		width: 30%;
	}
}

@media (min-width: 536px) and (max-width: 585px) {
	.team_hr {
		width: 28%;
	}
}

@media (min-width: 410px) and (max-width: 536px) {
	.team_hr {
		width: 21%;
	}
}

@media (max-width: 410px) {
	.team_hr {
		width: 11%;
	}
	.templatemo-project-box {
		width: 100%;
		object-fit: cover;
	}
}
@media (max-width: 461px) {
	.card-product {
		width: 80%;
	}
	.footer_container > img {
		width: 30%;
	}
}
